html {
    background-color: #2196F3;
    color: #ffffff;
}
select {
    display: block;
}

#header {
    border-top: 2px solid #1565c0;
}
.card a {
    color: #2196F3;
}
.card a:hover {
    color: #01579b;
}