html {
    background-color: #2196F3;
    color: #ffffff;
}
#header {
    background-color: #ffffff;
}
select {
    display: block;
}

.card a {
    color: #2196F3;
}
.card a:hover {
    color: #01579b;
}